<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regiter-page</title>
    <link rel="stylesheet" href="/login-page.css"/>
</head>
<body class="container">
<h1>User Registration Page</h1>

<p class="warning" th:if="${error}" th:text="${error}"></p>
<p class="success" th:if="${success}" th:text="${success}"></p>

<form th:action="@{/register}" method="POST">
    <label for="firstName">First name</label>
    <input type="text" name="firstName" id="firstName" required>
    <label for="lastName">Last name</label>
    <input type="text" name="lastName" id="lastName" required>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <button type="submit">Submit</button>
</form>

<a th:href="@{/login}">Click Here to Login</a>
</body>
</html>